<link rel="stylesheet" href="/css/footer.css" />
<footer class="footer-container">
	<div class="footer-content">
		<div class="footer-brand">
			<h3><i class="fa-solid fa-file-alt"></i> OJT Summary Report</h3>
			<p>Making OJT documentation easier</p>
		</div>
		<div class="footer-links">
			<div class="social-links">
				<a href="#"><i class="fab fa-facebook"></i></a>
				<a href="#"><i class="fab fa-twitter"></i></a>
				<a href="#"><i class="fab fa-linkedin"></i></a>
				<a href="#"><i class="fab fa-github"></i></a>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<p>&copy; 2025 OJT Summary Report. All rights reserved.</p>
	</div>
</footer>
