<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>OJT</title>
		<link rel="stylesheet" href="/css/app.css" />
		<script
			src="https://kit.fontawesome.com/f5eb818237.js"
			crossorigin="anonymous"></script>
	</head>
	<body>
		<nav class="navbar">
			<div class="navbar-container">
				<a href="/" class="navbar-brand"
					><i class="fa-solid fa-file-alt"></i> OJT Summary Report</a
				>
				<ul class="navbar-menu">
					<li>
						<a href="/"><i class="fa-solid fa-home"></i> Home</a>
					</li>
					<% if (currentUser) { %>
					<li>
						<a href="/logout"
							><i class="fa-solid fa-sign-out-alt"></i> Logout</a
						>
					</li>
					<% } else { %>
					<li>
						<a href="#"><i class="fa-solid fa-info-circle"></i> About</a>
					</li>
					<li>
						<a href="https://goltzzz.github.io/GoltZzz/"
							><i class="fa-solid fa-envelope"></i> Contact</a
						>
					</li>
					<% } %>
				</ul>
			</div>
		</nav>

		<header class="header-container">
			<div class="header-content">
				<h1>Welcome to OJT Summary Report</h1>
				<p>Here you can make & find the summary of the OJT report</p>
				<% if (currentUser) { %>
				<a href="/dashboard" class="btn"
					><i class="fa-solid fa-tachometer-alt"></i> Go to Dashboard</a
				>
				<% } else { %>
				<a href="/register" class="btn"
					><i class="fa-solid fa-sign-in-alt"></i> Get Started</a
				>
				<% } %>
			</div>
		</header>

		<section class="features-section">
			<div class="feature">
				<i class="fa-solid fa-file-alt"></i>
				<h3>Create Reports</h3>
				<p>Easily create detailed OJT reports.</p>
			</div>
			<div class="feature">
				<i class="fa-solid fa-search"></i>
				<h3>Find Reports</h3>
				<p>Search and find existing OJT reports.</p>
			</div>
			<div class="feature">
				<i class="fa-solid fa-share"></i>
				<h3>Share Reports</h3>
				<p>Share your OJT reports with others.</p>
			</div>
		</section>

		<footer class="footer-container">
			<p>&copy; 2025 OJT Summary Report</p>
		</footer>
	</body>
</html>
